<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>Home</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </head>

    <body>
        <section>
            <div class="container">
                <div class="box">
                    <img class="logo" src="img/Duud-logo.png">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>You have <span>0</span> Diamonds</h1>
                    </div>
                    <div class="col-md-12">
                        <img class="diamond-circle" src="img/diamond-circle.png">
                    </div>
                    <div class="col-md-12">
                        <div class="box-click">
                        <a href="credit-page.html" class="arrowicon">
                            <div class="d-flex align-items-start">
                               <div class="flex-grow-1">
                                  <div class="float-end">
                                  <i class="righticon align-middle me-2 fas fa-fw fa-angle-right"></i>
                                  </div>
                                  <img src="img/credits-icon.png">
                                  <strong>Claim Credits Reward</strong>
                               </div>
                            </div>
                         </a> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="box-click">
                        <a href="cash-page.html" class="arrowicon">
                            <div class="d-flex align-items-start">
                               <div class="flex-grow-1">
                                  <div class="float-end">
                                  <i class="righticon align-middle me-2 fas fa-fw fa-angle-right"></i>
                                  </div>
                                  <img src="img/cash-icon.png">
                                  <strong>Claim Cash Reward</strong>
                               </div>
                            </div>
                         </a> 
                        </div>
                    </div>
                    <div class="col-md-12 ">
                        <div class=" question-box">
                        <h4>What are Diamonds ?</h4>
                        <p>When you tip a streamer with a gift, they will earn Diamonds for each one you send! Diamonds are a great way to track you progress as a Streamer. Climb your way to the top of the Leaderborads and get more Viewers by earning Diamonds!</p>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </section>


        <script src="js/jquery-3.5.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>